[user]
    name = Harshavardhan Rangan
    email =
[github]
    user =
[apply]
    whitespace = fix
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    l = log --graph --abbrev-commit --date=relative
    what = whatchanged -p
    df = diff --word-diff=color
    s = diff --cached
[color]
    branch = auto
    diff = auto
    interactive = auto
    ui = always
    status = auto
    pager = true
[format]
    pretty="%C(white)%h%Creset - %s %C(yellow)%d%Creset %Cgreen(%cr) %C(bold blue)<%an (%ae)>%Creset"
[core]
    editor = /usr/local/bin/nvim
    autocrlf = input
    pager = less -FRX
    whitespace = fix
    excludesfile = /home/hrangan/.gitignore
[log]
    date = local
[http]
    sslverify = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[diff]
    tool = vimdiff
[init]
    defaultBranch = master
